.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo > a > span {
    display: none;
}
.logo__link {
    display: flex;
    align-items: center;
    font-size: var(--font-size-base);
    color: var(--blue-medium);
    font-weight: 700;
    padding: 0 0.4rem;
}
.toggle {
    display: inline-flex;
    align-items: center;
    padding: 0.5em;
    color: var(--blue-medium);
    background-color: var(--white);
    border: 2px solid var(--blue-medium);
    border-radius: 0.5rem;
    transition-duration: 0.2s;
}
.toggle:hover {
    background-color: var(--blue-lighter);
    color: var(--blue-dark);
}
.toggle:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.login {
    background-color: var(--blue-dark);
    color: var(--white);
    padding: 0.5rem 1.25rem;
    border: 2px solid var(--blue-dark);
    border-radius: 2rem;
    margin-right: 0.5rem;
    transition-duration: 0.2s;
}
.login:hover {
    background-color: var(--white);
    color: var(--blue-dark);
}
.btn_container {
    display: flex;
    align-items: center;
    padding-right: 0.8rem;
}
.menu__container {
    width: 100%;
}
.menu__list {
    display: none;
    margin: 0;
    /* border: solid 1px var(--blue-lighter); */
    border-radius: 0.5rem;
}
.menu__list__item:nth-child(odd) {
    background-color: var(--blue-lighter);
    border-bottom: solid 1px var(--blue-light);
    border-top: solid 1px var(--blue-light);
}
.menu__list__item:nth-child(even) {
    background-color: var(--white);
}
.menu__list__item a {
    display: block;
    padding: 0.5rem 0.8rem;
    text-align: center;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-color: rgb(0 0 0 / 0);
    transition-duration: 0.5s;
}
.Show {
    border-top: 1px solid var(--blue-light);
}
.Show ul {
    display: block;
}
@media (min-width: 425px) {
    .logo > a > span {
        display: block;
    }
}
@media (min-width: 1280px) {
    .btn_container {
        padding-right: 2rem;
    }
    .logo__link {
        padding: 0 1rem;
    }
    .menu__list {
        padding: 0.5rem;
        border-radius: 0;
        border: 0;
        /* border-top: solid 1px var(--lighter-grey); */
    }
    .menu__list > * + * {
        margin-left: 0.75rem;
    }
    .menu__list__item {
        padding: 0.25rem 0.5rem;
        font-weight: 500;
    }
    .menu__list__item:nth-child(odd) {
        background-color: var(--white);
        border-bottom: 0;
        border-top: 0;
    }
    .menu__list__item a {
        padding: 0;
    }

    .menu__list__item a:hover {
        border-bottom-style: dashed;
        border-bottom-width: 2px;
        border-color: rgb(0 0 0 / 1);
    }
    .menu__list__item:nth-last-child(2) a {
        padding: 0.5rem 0.8rem;
        background: var(--blue-dark);
        color: var(--white);
        border: 2px solid var(--blue-dark);
        border-radius: 2rem;
        transition-duration: 0.2s;
    }
    .menu__list__item:nth-last-child(2) a:hover {
        background: var(--blue-lighter);
        color: var(--blue-dark);
        border: 2px solid var(--blue-dark);
    }
    .menu__list__item:nth-last-child(1) {
        margin-left: 0;
        padding-left: 0;
    }

    .menu__list__item:nth-last-child(1) a {
        padding: 0.5rem 0.8rem;
        background: var(--white);
        color: var(--blue-dark);
        border: 2px solid var(--blue-dark);
        border-radius: 2rem;
        transition-duration: 0.2s;
    }
    .menu__list__item:nth-last-child(1) a:hover {
        background: var(--blue-lighter);
    }
    .Show ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
